@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Golos+Text&family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
* {
  background: whitesmoke;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
body{
  width: 100%;
  background: whitesmoke;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  height: 7vh;
  margin-bottom: 5%;
  justify-content: space-between;
  display: inline-flex;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

nav a {
  margin-top: 1%;
  background: transparent;
  font-family: "Poetsen One", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  margin-left: 20px;
  color: black;
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  padding: 10px;
  font-weight: bolder;
  list-style: none;
  padding: 10px;
}

.material-icons.outlined  {
  display: none;
 
}
.mobile__header .material-icons.menu{
  
  display: none;

  
}

.remove{
  display: none;
}
nav ul li a {
  text-decoration: none;
  color: rgb(44, 43, 43);
  font-weight: bolder;
  font-size: 15px;
}
nav ul li:hover{
  cursor: pointer;
 color: rgba(116, 40, 40, 0.5);
 padding: 10px;

}


nav ul li a:hover{
  
  cursor: pointer;
  color: rgba(116, 40, 40, 0.5);
  padding: 10px;
  
}



.hide{
  display: none;
}

.sub__menu-1{
  display: none;
}
nav ul li:hover .sub__menu-1{
  display: block;
  
  transition: 200ms;
  position: absolute;
  height: auto;
margin-top: 10px;
margin-left: -15px;
box-shadow: 0px 2px 10px black;
border-radius: 10px;
width: 20%;


}

.sub__menu-1 ul{
  display: block;
  margin: 10px;
}

.sub__menu-1 ul li{
  display: block;
  
  padding: 20px;
  
  background: transparent;
  text-align: left;
 
}



.sub__menu-1 ul li a{
  cursor: pointer;
}

.sub__menu-1 a:hover{
text-decoration: underline;

 
}
.sub__menu-1 a:hover {
  color: grey;
}


.science{
  display: none;
}

header {
  height: auto;
  margin-top: 10%;

  width: 90%;
  background: whitesmoke;
}



/* about us */

.emphasis{
  color: aquamarine;
  background: transparent;
}



.content-section{

  width: 80%;
  margin-left: 10%;
  margin-top: 2%;

 
}

.content-section p{
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

.content-section h6{
  text-align: center;
}
.pictures{
  display: flex;
}
.content-section h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.image1{
  display: flex;
  margin-left: 20%;
 
}

.image1 p{
  margin-top: 20%;
  position: relative;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
.image1 img{
  margin: 20px;
  border-radius: 10px;
  width: 20%;
  

}

.image{
  display: flex;
 margin-left: 20%;
}

.image p{
  margin-top: 20%;
  position: relative;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
.image img{
  margin: 20px;
  border-radius: 10px;
  width: 40%;
  

}

.cookie-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 25%;
  bottom: -100%;
  z-index: 1;
  left: 0;
  right: 0;
  background: white;
  transition: 400ms;
  box-shadow: 0 4px 16px rgba(47, 54, 64, alpha);
}

.cookie-container.active {
  bottom: 0;
}
.cookie-container p {
  color: black;
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  background: white;
}

.cookie-container p a {
  font-size: 16px;
  background: white;
}
.cookie-btn {
  left: 80%;
  right: 0;
  margin-bottom: 80%;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.cookie-btn:hover {
  text-decoration: underline;
  font-weight: 500;
}

footer {
  background: black;
  height: 40vh;
  margin-bottom: 0%;
  display: flex;
  color: white;
  width: 100%;
  gap: 10%;
 
}

footer ul {
  text-decoration: none;
  background: black;
}
footer ul li {
  display: block;
  text-decoration: none;
  list-style: none;
  padding: 10px;
  background: black;
}
footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  background: black;
}
footer ul li a:hover {
  opacity: 0.8;
}

.copyright {
  background: black;
  color: white;
  font-size: 12px;
}
.copyright a {
  background: black;
  color: white;
  font-size: 12px;
  text-decoration: none;
}
.copyright a:hover {
  opacity: 0.8;
}

.current_year {
  background: black;
  color: white;
}
@media screen and (min-width: 300px) and (max-width: 400px) {
  * {
    background: whitesmoke;
  }

  html {
    scroll-behavior: smooth;
  }

  nav {
    width: 100%;
    position: fixed;

    top: 0;
    height: 8%;
    margin-bottom: 1%;
    justify-content: space-between;
    z-index: 20;
  }
 
  .mobile__header .material-icons.menu{
    font-size: 20px;
    font-weight: lighter;
    margin-top: 45%;
    display: block;
  
    
  }
  nav h1 {
    margin-top: 3%;
   
  }
  nav ul {
    display: block;
  }
 
  .science{
    display: block;

  }

  .science a{
    font-size: 12px;
    background: white;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }

  .header__title {
    margin-top: 1%;
  }

  
  .material-icons.outlined  {
    display: flex;
    color: rgba(0, 0, 0, 0.54);
   
    font-size: 12px;
    background: transparent;
  }

  .subject {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background: transparent;
  }
  
  .nav__links{
    margin-left: 0%;
    min-height: 100vh;
    width: 80%;
    top: 8%;
    background-color: white;
   
    font-weight: 700;
    border-top-left-radius: 20px;
    position: fixed;
    border-top: 1px solid grey;
    
    
    }
    


    .notes{
       margin-left: -100%;
    }
   
   
   .button{
       margin-left: 10%;
   }
   .remove{
    display: block;
    color: black;
    background-color: whitesmoke;
    margin-left: 119%;
    font-size: 30px;
    position: absolute;
    margin-top: -18%;
    font-weight: lighter;
    cursor: pointer;
   }
    
    nav ul li{
        display: block;
        padding: 10px;
        padding: 20px;
        background-color: white;
        margin-left: 0;
        color: black;
        
    }
    
    nav ul li img{
       background-color: white;
   }

  
    nav ul li:last-child{
       display: block;
   }
    nav ul li a{
       background-color: white;
       color: black;
    }
  
    nav ul li:hover{
      cursor: pointer;
     color: rgba(116, 40, 40, 0.5);
     padding: 10px;
    
    }
    nav ul li:hover .sub__menu-1{
       display: block;
       width: 80%;
       transition: 200ms;
       position: fixed;
       height: auto;
     margin-top: 10px;
     margin-left: 50px;
     box-shadow: 0px 2px 3px black;
     background: white;
    
     
   
   }
   
   .sub__menu-1 ul{
       display: block;
       margin: 10px;
       background-color: white;
    
       
   }
   
   .sub__menu-1 ul li{
       display: block;
       width: 100px;
       height: 80px;
       padding: 20px;
       background: white;
       
       
       text-align: left;
       width: 100%;
      
   }

   .sub__menu-1 ul li:first-child{
    margin-left: 0;
    
   }
   
   .sub__menu-1 ul li a{
       cursor: pointer;
       background-color: white;
       color: black;
       display: block;
       font-size: 12px;
       padding: 20px;
       
   }
   
   .sub__menu-1 ul li:hover{
    text-decoration: underline;
   }
   

  header {
   
    margin-top: 30%;
  }
  
  
/* about us */

.emphasis{
  color: aqua;
  background: transparent;
}



.content-section{

  width: 90%;
  margin-left: 0%;
  margin-top: 2%;
  line-height: 26px;

 
}

.content-section p{
  margin-bottom: 15px;
  font-size: 15px;
  text-align: center;
  padding: 30px;
}

.content-section h6{
  text-align: center;
}
.pictures{
  display: flex;
}
.content-section h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.image1{
  display: flex;
  margin-left: 10%;
  width: 90%;
 
}

.image1 p{
  margin-top: 10%;
  position: relative;
  font-size: 15px;
  text-align: center;
  padding: 20px;
}
.image1 img{
  margin: 20px;
  border-radius: 10px;
  width: 40%;
  

}

.image{
  display: flex;
 
}

.image p{
  margin-top: 10%;
  position: relative;
  font-size: 15px;
  text-align: center;
  padding: 20px;
}
.image img{
  margin: 20px;
  border-radius: 10px;
  width: 40%;
  

}
  
  .cookie-container {
    display: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 20%;
    bottom: -100%;
    z-index: 10;
    left: 0;
    right: 0;
    background: white;
    transition: 400ms;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, alpha);
  }

  .cookie-container.active {
    bottom: 0;
  }
  .cookie-container p {
    color: black;
    margin: 10px;
    padding: 5px;
    font-size: 12px;
    background-color: white;
  }

  .cookie-container p a {
    font-size: 12px;
  }
  .cookie-btn {
    left: 60%;
    right: 0;
    margin-bottom: 80%;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
  }

  .cookie-btn:hover {
    text-decoration: underline;
    font-weight: 500;
  }

  footer {
    background: black;
    height: 40vh;
    margin-bottom: 0%;
    display: block;
    color: white;
    width: 100%;
    gap: 10%;
  
  }
  
  footer ul {
    text-decoration: none;
    background: black;
    justify-content: center;
    
  }
  footer ul li {
    display: block;
    text-decoration: none;
    list-style: none;
    padding: 10px;
    background: black;
    justify-content: center;
  }
  footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    background: black;
    justify-content: center;
  }
  footer ul li a:hover {
    opacity: 0.8;
  }
  
  .copyright {
    background: black;
    color: white;
    font-size: 12px;
  }
  .copyright a {
    background: black;
    color: white;
    font-size: 12px;
    text-decoration: none;
  }
  .copyright a:hover {
    opacity: 0.8;
  }
  
  .current_year {
    background: black;
    color: white;
  }
}
@media screen and (min-width: 400px) and (max-width: 932px) {
  * {
    background: white;
  }

  html {
    scroll-behavior: smooth;
  }

  nav {
    width: 100%;
    position: fixed;

    top: 0;
    height: 8%;
    margin-bottom: 1%;
    justify-content: space-between;
    z-index: 20;
  }
 
  .mobile__header .material-icons.menu{
    font-size: 20px;
    font-weight: lighter;
    margin-top: 45%;
    display: block;
  
    
  }
  nav h1 {
    margin-top: 3%;
   
  }
  nav ul {
    display: block;
  }
 
.science{
  display: block;
}
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }

  .header__title {
    margin-top: 1%;
  }
 
  
   .start__now  {
    
    position: fixed;
    margin-top: 77vh;
    
    padding: 10px;
    background-color: brown;
    width: 80%;
    border-radius: 15px;
    margin-left: 10%;
    
    text-align: center;
    z-index: 2;
  }

 
  
  .material-icons.outlined  {
    display: flex;
    color: rgba(0, 0, 0, 0.54);
   
    font-size: 12px;
  }

  .subject {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  
  .nav__links{
    margin-left: 0%;
    min-height: 100vh;
    width: 80%;
    top: 8%;
    background-color: white;
   
    font-weight: 700;
    border-top-left-radius: 20px;
    position: fixed;
    border-top: 1px solid grey;
    
    
    }
    


    .notes{
       margin-left: -100%;
    }
   
   
   .button{
       margin-left: 10%;
   }
   .remove{
    display: block;
    color: black;
    background-color: white;
    margin-left: 119%;
    font-size: 35px;
    position: absolute;
    margin-top: -20%;
    font-weight: lighter;
    cursor: pointer;
   }
    
    nav ul li{
        display: block;
        padding: 10px;
        padding: 20px;
        background-color: white;
        margin-left: 0;
        color: black;
        
    }
    
    nav ul li img{
       background-color: white;
   }

  
    nav ul li:last-child{
       display: block;
   }
    nav ul li a{
       background-color: white;
       color: black;
    }
    nav ul li button{
        border: 0.5px solid black;
        border-radius: 10px;
        padding: 5px;
        background-color: aquamarine;
        color: white;
        font-weight: 700;
    }
    nav ul li:hover{
      cursor: pointer;
     color: rgba(116, 40, 40, 0.5);
     padding: 10px;
    
    }
    
    nav ul li:hover .sub__menu-1{
      display: block;
      width: 80%;
      transition: 200ms;
      position: fixed;
      height: auto;
    margin-top: 10px;
    margin-left: 50px;
    box-shadow: 0px 2px 3px black;
    background: white;
   
    
  
  }
  
  .sub__menu-1 ul{
      display: block;
      margin: 10px;
      background-color: white;
   
      
  }
  
  .sub__menu-1 ul li{
      display: block;
      width: 100px;
      height: 80px;
      padding: 20px;
      background: white;
      
      
      text-align: left;
      width: 100%;
     
  }

  .sub__menu-1 ul li:first-child{
   margin-left: 0;
   
  }
  
  .sub__menu-1 ul li a{
      cursor: pointer;
      background-color: white;
      color: black;
      display: block;
      font-size: 12px;
      padding: 20px;
      
  }
  
  .sub__menu-1 ul li:hover{
   text-decoration: underline;
  }
  



/* about us */

.emphasis{
  color: aquamarine;
  background: transparent;
}





.content-section{

  width: 100%;
  margin-left: 0%;
  margin-top: 2%;
  line-height: 26px;
  border-bottom: 1px solid black ;
 
}

.content-section p{
  margin-bottom: 15px;
  font-size: 15px;
  text-align: center;
  padding: 30px;
}

.content-section h6{
  text-align: center;
}
.pictures{
  display: flex;
}
.content-section h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.image1{
  display: flex;
 
}

.image1 p{
  margin-top: 10%;
  position: relative;
  font-size: 12px;
  text-align: center;
  padding: 20px;
}
.image1 img{
  margin: 20px;
  border-radius: 10px;
  width: 40%;
  

}

.image{
  display: flex;
 
}

.image p{
  margin-top: 10%;
  position: relative;
  font-size: 12px;
  text-align: center;
  padding: 20px;
}
.image img{
  margin: 20px;
  border-radius: 10px;
  width: 40%;
  

}

  footer {
    background: black;
    height: 40vh;
    margin-bottom: 0%;
    display: block;
    color: white;
    width: 100%;
    gap: 10%;
   
  }
  
  footer ul {
    text-decoration: none;
    background: black;
    justify-content: center;
    
  }
  footer ul li {
    display: block;
    text-decoration: none;
    list-style: none;
    padding: 10px;
    background: black;
    justify-content: center;
  }
  footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    background: black;
    justify-content: center;
  }
  footer ul li a:hover {
    opacity: 0.8;
  }
  
  .copyright {
    background: black;
    color: white;
    font-size: 12px;
  }
  .copyright a {
    background: black;
    color: white;
    font-size: 12px;
    text-decoration: none;
  }
  .copyright a:hover {
    opacity: 0.8;
  }
  
  .current_year {
    background: black;
    color: white;
  }

}
