.test0 {
  width: 50%;
  color: black;

  background-color: black;
  font-weight: 700;
  margin: 2%;
  padding: 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  margin-left: 25%;
  color: white;
}


.test0:hover {
  opacity: 0.8;
  cursor: pointer;
}

.test {
  width: 50%;
  color: black;

  background-color: black;
  font-weight: 700;
  margin: 2%;
  padding: 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  margin-left: 25%;
  color: white;
}

.test:hover {
  opacity: 0.8;
  cursor: pointer;
}

.test2 {
  width: 50%;
  color: black;

  background-color: black;
  font-weight: 700;
  margin: 2%;
  padding: 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  margin-left: 25%;
  color: white;
}

.test2:hover {
  opacity: 0.8;
  cursor: pointer;
}

.test3 {
  width: 50%;
  color: black;

  background-color: black;
  font-weight: 700;
  margin: 2%;
  padding: 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  margin-left: 25%;
  color: white;
}

.test3:hover {
  opacity: 0.8;
  cursor: pointer;
}

.test4 {
  width: 50%;
  color: black;

  background-color: black;
  font-weight: 700;
  margin: 2%;
  padding: 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  margin-left: 25%;
  color: white;
}

.test4:hover {
  opacity: 0.8;
  cursor: pointer;
}

.test5 {
  width: 50%;
  color: black;

  background-color: black;
  font-weight: 700;
  margin: 2%;
  padding: 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  margin-left: 25%;
  color: white;
}

.test5:hover {
  opacity: 0.8;
  cursor: pointer;
}

.test6 {
  width: 50%;
  color: black;

  background-color: black;
  font-weight: 700;
  margin: 2%;
  padding: 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  margin-left: 25%;
  color: white;
}

.test6:hover {
  opacity: 0.8;
  cursor: pointer;
}
.notshown {
  display: none;
}

.cross{
  height: 5%;
}
.check{
  height: 5%;
}
.diagram{
  background: transparent;
}
.diagram img{
  width: 25%;

 
}

.demo{
  background: transparent;
}

.demo img{
  width: 20%;
 
}
.quiz {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;

  left: 10%;
  font-size: 14px;
}

.answer {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}

.chances {
  background: transparent;
  color: white;
}

.getout {
  background: transparent;
  color: white;
  font-size: 25px;
  margin-left: 96%;
  cursor: pointer;
}
.sup {
  background: transparent;
  color: white;
}
.next {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz2 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz2 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz2 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz2 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer2 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer2:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}



.chances2 {
  background: transparent;
  color: white;
}

.next2 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz3 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz3 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz3 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz3 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer3 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer3:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}



.chances3 {
  background: transparent;
  color: white;
}

.next3 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz4 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz4 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz4 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz4 input {
  width: 80%;
  margin-bottom: 1%;
  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer4 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer4:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}


.chances4 {
  background: transparent;
  color: white;
}

.next4 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz5 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  min-height: 80vh;
  max-height: 90vh;
  z-index: 10;
}

.quiz5 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz5 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz5 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}


.answer5 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer5:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}



.chances5 {
  background: transparent;
  color: white;
}

.next5 {
  background: color;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz6 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz6 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz6 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz6 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer6 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer6:hover {
  font-weight: bolder;
  background: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}



.chances6 {
  background: transparent;
  color: white;
}

.next6 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz7 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz7 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz7 p sup {
  background-color: transparent;
  color: white;
  font-size: 12px;
}
.quiz7 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer7 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer7:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}



.chances7 {
  background-color: transparent;
  color: white;
}

.next7 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz8 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz8 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz8 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz8 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer8 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer8:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}


.chances8 {
  background: transparent;
  color: white;
}

.next8 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz9 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz9 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz9 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz9 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer9 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer9:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}

.chances9 {
  background: transparent;
  color: white;
}

.next9 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz10 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz10 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz10 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz10 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer10 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer10:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}


.chances10 {
  background: transparent;
  color: white;
}

.next10 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz11 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz11 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz11 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz11 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer11 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer11:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}



.chances11 {
  background: transparent;
  color: white;
}

.next11 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz12 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz12 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz12 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz12 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer12 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer12:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}

.chances12 {
  background-color: transparent;
  color: white;
}

.next12 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz13 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz13 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz13 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz13 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer13 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer13:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}


.chances13 {
  background-color: transparent;
  color: white;
}

.next13 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz14 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz14 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz14 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz14 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer14 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer14:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}



.chances14 {
  background: transparent;
  color: white;
}

.next14 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz15 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz15 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz15 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz15 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer15 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer15:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}


.chances15 {
  background: transparent;
  color: white;
}

.next15 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz16 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz16 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz16 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz16 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer16 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer16:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}


.chances16 {
  background: transparent;
  color: white;
}

.next16 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz17  {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz17 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz17 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz17 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer17 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer17:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}


.chances17 {
  background: transparent;
  color: white;
}

.next17 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}


.quiz18  {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz18 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz18 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz18 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer18 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer18:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}


.chances18 {
  background: transparent;
  color: white;
}

.next18 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}


.quiz19  {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz19 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz19 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz19 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer19 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer19:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}


.chances19 {
  background: transparent;
  color: white;
}

.next19 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz20  {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz20 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz20 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz20 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer20 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer20:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}


.chances20 {
  background: transparent;
  color: white;
}

.next20 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz21  {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz21 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz21 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz21 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer21 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer21:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}


.chances21 {
  background: transparent;
  color: white;
}

.next21 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz122  {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz22 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz22 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz22 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer22 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer22:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}


.chances22 {
  background: transparent;
  color: white;
}

.next22 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}

.quiz23  {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz23 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz23 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz23 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer23 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer23:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}


.chances23 {
  background: transparent;
  color: white;
}

.next23 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}
.quiz24  {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz24 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz24 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz24 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer24 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer24:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}


.chances24 {
  background: transparent;
  color: white;
}

.next24 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}
.quiz25  {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 10;
}

.quiz25 p {
  background: transparent;
  color: white;
  font-size: 15px;
  margin: 10px;
}

.quiz25 p sup {
  background: transparent;
  color: white;
  font-size: 12px;
}
.quiz25 input {
  width: 80%;
  margin-bottom: 1%;

  height: 5%;
  font-size: 20px;
  border: none;
  left: 10%;
  font-size: 14px;
}

.answer25 {
  text-decoration: none;
  color: white;
  margin-top: 1%;
  margin-bottom: 10%;
  margin-left: 15%;
  border-radius: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: aqua;
  font-weight: 700;
  padding: 10px;
  width: 60%;
  border: none;
  cursor: pointer;
}

.answer25:hover {
  font-weight: bolder;
  background-color: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: 20px;
}


.chances25 {
  background: transparent;
  color: white;
}

.next25 {
  background-color: white;
  padding: 10px;
  margin-left: 70%;
  cursor: pointer;
}
.interger {
  background-color: transparent;
}
.interger1 {
  background-color: transparent;
}

.interger2 {
  background-color:transparent;
}
.interger3 {
  background-color: transparent;
}

.interger4 {
  background-color: transparent;
}
.interger5 {
  background-color: transparent;
}

.interger6 {
  background-color: transparent;
}
.interger7 {
  background-color: transparent;
}

.interger8 {
  background-color: transparent;
}

.interger9 {
  background-color:transparent;
}

.interger10 {
  background-color:transparent;
}

.interger11 {
  background-color:transparent;
}
.interger12 {
  background-color:transparent;
}
.interger13 {
  background-color:transparent;
}
.interger14 {
  background-color:transparent;
}
.interger35 {
  background-color: transparent;
}
.interger36 {
  background-color: transparent;
}
.interger15 {
  background-color:transparent;
}
.interger16 {
  background-color: transparent;
}
.interger17 {
  background-color: transparent;
}
.interger18 {
  background-color: transparent;
}

.interger19 {
  background-color:transparent;
}

.interger20 {
  background-color: transparent;
}
.interger21 {
  background-color:transparent;
}
.interger22 {
  background-color: transparent;
}
.interger23 {
  background-color: transparent
}

.interger24 {
  background-color: transparent;
}
.interger25 {
  background-color: transparent;
}
.interger26 {
  background-color:transparent;
}

.interger27 {
  background-color: transparent;
}

.interger28 {
  background-color: transparent;
}
.interger29 {
  background-color:transparent;
}
.interger30 {
  background-color: transparent
}
.interger31 {
  background-color: transparent;
}

.interger32 {
  background-color: transparent
}
.interger33 {
  background-color: transparent;
}
.interger34 {
  background-color: transparent;
}
.interger35 {
  background-color: transparent;
}
.interger36 {
  background-color: transparent;
}
.interger37 {
  background-color: transparent;
}

.interger38 {
  background-color: transparent;
}

.random {
  background-color:transparent;
}

.random2 {
  background-color:transparent;
}
.random3 {
  background-color:transparent;
}
.random4 {
  background-color:transparent;
}

i{
  background: transparent;
}
.grades {
  height: auto;

  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 9;
  border: 1px solid black;
}

.grades ol li {
  padding: 20px;

  margin-left: 10%;
}

.buttons {
  display: flex;
  margin-top: 10%;
}

.buttons button {
  background: black;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);

  padding: 5px;
  margin: 5px;
}

.gotobtn a {
  background: black;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.feedback_message {
  font-size: 12px;
  padding: 10px 0px 10px 10px;
}

.grades1 {
  height: auto;

  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 9;
  border: 1px solid black;
}

.grades1 ol li {
  padding: 20px;

  margin-left: 10%;
}

.feedback_message1 {
  font-size: 12px;
  padding: 10px 0px 10px 10px;
}

.grades2 {
  height: auto;

  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 9;
  border: 1px solid black;
}

.grades2 ol li {
  padding: 20px;

  margin-left: 10%;
}

.feedback_message2 {
  font-size: 12px;
  padding: 10px 0px 10px 10px;
}

.grades3 {
  height: auto;

  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 9;
  border: 1px solid black;
}

.grades3 ol li {
  padding: 20px;

  margin-left: 10%;
}

.feedback_message3 {
  font-size: 12px;
  padding: 10px 0px 10px 10px;
}

.grades4 {
  height: auto;

  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 60%;
  left: 20%;
  height: 80vh;
  z-index: 9;
  border: 1px solid black;
}

.grades4 ol li {
  padding: 20px;

  margin-left: 10%;
}

.feedback_message4 {
  font-size: 12px;
  padding: 10px 0px 10px 10px;
}

.quiz6 .input6a {
width: 30%;
border: 1px solid black;
}

.quiz6 .input6b {
  width: 30%;
  border: 1px solid black;
  }
  .quiz6 .input6c {
    width: 30%;
    border: 1px solid black;
    }
    .quiz6 .input6d {
      width: 30%;
      border: 1px solid black;
      }
      .quiz6 .input6e {
        width: 30%;
        border: 1px solid black;
        }
        .quiz6 .input6f {
          width: 30%;
          border: 1px solid black;
          }
          
.socialmedia p a img{
width: 20px;
}
          @media screen and (min-width: 300px) and (max-width: 480px) {

            .diagram img{
              width: 100%;
            }
            .quiz {
              height: auto;
              background-color: black;
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 10%;
              width: 80%;
              left: 10%;
              min-height: 40vh;
              z-index: 10;
              border-radius: 10px;
            }
            
             .quiz input{
             
              border-radius: 0;
              height: 5%;
              font-size: 20px;
          }

          .quiz p {
            background: transparent;
            color: white;
            font-size: 12px;
            margin: 10px;
          }
          
            .quiz2 {
              height: auto;
              background-color: black;
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 10%;
              width: 80%;
              left: 10%;
              min-height: 40vh;
              z-index: 10;
            }
            
            .quiz2 input{
             
              border-radius: 0;
              height: 5%;
              font-size: 20px;
          }

          .quiz2 p {
            background: transparent;
            color: white;
            font-size: 12px;
            margin: 10px;
          }
            .quiz3 {
              height: auto;
              background-color: black;
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 10%;
              width: 80%;
              left: 10%;
              min-height: 40vh;
              z-index: 10;
            }
            
            .quiz3 input{
             
              border-radius: 0;
              height: 5%;
              font-size: 20px;
          }
          .quiz3 p {
            background: transparent;
            color: white;
            font-size: 12px;
            margin: 10px;
          }
            .quiz4 {
              height: auto;
              background-color: black;
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 10%;
              width: 80%;
              left: 10%;
              min-height: 40vh;
              z-index: 10;
            }
            
            .quiz4 input{
             
              border-radius: 0;
              height: 5%;
              font-size: 20px;
          }

          .quiz4 p {
            background: transparent;
            color: white;
            font-size: 12px;
            margin: 10px;
          }
            .quiz5 {
              height: auto;
              background-color: black;
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 5%;
              width: 80%;
              left: 10%;
              min-height: 40vh;
              z-index: 10;
            }
            .quiz5 input{
             
              border-radius: 0;
              height: 5%;
              font-size: 20px;
          }
          .quiz5 p {
            background: transparent;
            color: white;
            font-size: 12px;
            margin: 10px;
          }
            .quiz6 {
              height: auto;
              background-color: black;
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 10%;
              width: 80%;
              left: 10%;
              min-height: 40vh;
              z-index: 10;
            }
            
            .quiz6 input{
             
              border-radius: 0;
              height: 5%;
              font-size: 20px;
          }

          .quiz6 p {
            background: transparent;
            color: white;
            font-size: 12px;
            margin: 10px;
          }
            .quiz7 {
              height: auto;
              background-color: black;
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 10%;
              width: 80%;
              left: 10%;
              min-height: 40vh;
              z-index: 10;
            }
            
            .quiz7 input{
             
              border-radius: 0;
              height: 5%;
              font-size: 20px;
          }

          .quiz7 p {
            background: transparent;
            color: white;
            font-size: 12px;
            margin: 10px;
          }
            .quiz8 {
              height: auto;
              background-color: black;
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 10%;
              width: 80%;
              left: 10%;
              min-height: 40vh;
              z-index: 10;
            }
            .quiz8 input{
             
              border-radius: 0;
              height: 5%;
              font-size: 20px;
          }
          .quiz8 p {
            background: transparent;
            color: white;
            font-size: 12px;
            margin: 10px;
          }
            
            .quiz9 {
              height: auto;
              background-color: black;
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 10%;
              width: 80%;
              left: 10%;
              min-height: 40vh;
              z-index: 10;
            }
            .quiz9 input{
             
              border-radius: 0;
              height: 5%;
              font-size: 20px;
          }
          .quiz9 p {
            background: transparent;
            color: white;
            font-size: 12px;
            margin: 10px;
          }
            .quiz10 {
              height: auto;
              background-color: black;
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 5%;
              width: 80%;
              left: 10%;
              min-height: 40vh;
              z-index: 10;
            }
            .quiz10 input{
             
              border-radius: 0;
              height: 5%;
              font-size: 20px;
          }
          .quiz10 p {
            background: transparent;
            color: white;
            font-size: 12px;
            margin: 10px;
          }
            .quiz11 {
              height: auto;
              background-color: black;
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 5%;
              width: 80%;
              left: 10%;
              min-height: 40vh;
              z-index: 10;
            }
            .quiz11 input{
             
              border-radius: 0;
              height: 5%;
              font-size: 20px;
          }
          .quiz11 p {
            background: transparent;
            color: white;
            font-size: 12px;
            margin: 10px;
          }
            .quiz12 {
              height: auto;
              background-color: black;
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 5%;
              width: 80%;
              left: 10%;
              min-height: 40vh;
              z-index: 10;
            }
            .quiz12 input{
             
              border-radius: 0;
              height: 5%;
              font-size: 12px;
          }
          .quiz12 p {
            background: transparent;
            color: white;
            font-size: 12px;
            margin: 10px;
          }
            .quiz13 {
              height: auto;
              background-color: black;
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 10%;
              width: 80%;
              left: 10%;
              min-height: 40vh;
              z-index: 10;
            }
            .quiz13 input{
             
              border-radius: 0;
              height: 5%;
              font-size: 12px;
          }

          .quiz13 p {
            background: transparent;
            color: white;
            font-size: 12px;
            margin: 10px;
          }
            .quiz14 {
              height: auto;
              background-color: black;
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 10%;
              width: 80%;
              left: 10%;
              min-height: 40vh;
              z-index: 10;
            }
            
            .quiz14 input{
             
              border-radius: 0;
              height: 5%;
              font-size: 12px;
          }
          .quiz14 p {
            background: transparent;
            color: white;
            font-size: 12px;
            margin: 10px;
          }
            .quiz15 {
              height: auto;
              background-color: black;
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 10%;
              width: 80%;
              left: 10%;
              min-height: 40vh;
              z-index: 10;
            }
            .quiz15 input{
             
              border-radius: 0;
              height: 5%;
              font-size: 12px;
          }
            
          .quiz15 p {
            background: transparent;
            color: white;
            font-size: 12px;
            margin: 10px;
          }
          .quiz16 {
            height: auto;
            background-color: black;
            border-radius: 10px;
            padding: 10px;
            position: fixed;
            top: 10%;
            width: 80%;
            left: 10%;
            min-height: 40vh;
            z-index: 10;
          }
          .quiz16 input{
           
            border-radius: 0;
            height: 10%;
            font-size: 12px;
        }

        .quiz16 p {
          background: transparent;
          color: white;
          font-size: 12px;
          margin: 10px;
        }
        .quiz17 {
          height: auto;
          background-color: black;
          border-radius: 10px;
          padding: 10px;
          position: fixed;
          top: 10%;
          width: 80%;
          left: 10%;
          min-height: 40vh;
          z-index: 10;
        }
        .quiz17 input{
         
          border-radius: 0;
          height: 10%;
          font-size: 12px;
      }
      
      .quiz17 p {
        background: transparent;
        color: white;
        font-size: 12px;
        margin: 10px;
      }

      .quiz18 {
        height: auto;
        background-color: black;
        border-radius: 10px;
        padding: 10px;
        position: fixed;
        top: 10%;
        width: 80%;
        left: 10%;
        min-height: 40vh;
        z-index: 10;
      }
      .quiz18 input{
       
        border-radius: 0;
        height: 10%;
        font-size: 12px;
    }
    
    .quiz18 p {
      background: transparent;
      color: white;
      font-size: 12px;
      margin: 10px;
    }
       
    .quiz19 {
      height: auto;
      background-color: black;
      border-radius: 10px;
      padding: 10px;
      position: fixed;
      top: 10%;
      width: 80%;
      left: 10%;
      min-height: 40vh;
      z-index: 10;
    }
    .quiz19 input{
     
      border-radius: 0;
      height: 10%;
      font-size: 12px;
  }
  
  .quiz20 p {
    background: transparent;
    color: white;
    font-size: 12px;
    margin: 10px;
  }

  .quiz20 {
    height: auto;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    top: 10%;
    width: 80%;
    left: 10%;
    min-height: 40vh;
    z-index: 10;
  }
  .quiz20 input{
   
    border-radius: 0;
    height: 10%;
    font-size: 12px;
}

.quiz20 p {
  background: transparent;
  color: white;
  font-size: 12px;
  margin: 10px;
}

.quiz21 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 80%;
  left: 10%;
  min-height: 40vh;
  z-index: 10;
}
.quiz21 input{
 
  border-radius: 0;
  height: 10%;
  font-size: 12px;
}

.quiz21 p {
background: transparent;
color: white;
font-size: 12px;
margin: 10px;
}
.quiz22 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 80%;
  left: 10%;
  min-height: 40vh;
  z-index: 10;
}
.quiz22 input{
 
  border-radius: 0;
  height: 10%;
  font-size: 12px;
}

.quiz22 p {
background: transparent;
color: white;
font-size: 12px;
margin: 10px;
}
.quiz23 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 80%;
  left: 10%;
  min-height: 40vh;
  z-index: 10;
}
.quiz23 input{
 
  border-radius: 0;
  height: 10%;
  font-size: 12px;
}

.quiz23 p {
background: transparent;
color: white;
font-size: 12px;
margin: 10px;
}
.quiz24 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 80%;
  left: 10%;
  min-height: 40vh;
  z-index: 10;
}
.quiz24 input{
 
  border-radius: 0;
  height: 10%;
  font-size: 12px;
}

.quiz24 p {
background: transparent;
color: white;
font-size: 12px;
margin: 10px;
}
.quiz25 {
  height: auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: 10%;
  width: 80%;
  left: 10%;
  min-height: 40vh;
  z-index: 10;
}
.quiz25 input{
 
  border-radius: 0;
  height: 10%;
  font-size: 12px;
}

.quiz25 p {
background: transparent;
color: white;
font-size: 12px;
margin: 10px;
}
    .grades {
              height: auto;
            
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 10%;
              width: 80%;
              left: 10%;
              height: 80vh;
              z-index: 9;
              border: 1px solid black;
            }
            
          
            .grades ol li {
              padding: 20px;
            font-size: 10px;
              margin-left: 10%;
            }  
            .grades1 {
              height: auto;
            
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 10%;
              width: 80%;
              left: 10%;
              height: 80vh;
              z-index: 9;
              border: 1px solid black;
            }
            
            .grades1 ol li {
              padding: 20px;
            font-size: 10px;
              margin-left: 10%;
            }
            
            .feedback_message1 {
              font-size: 10px;
              padding: 10px 0px 10px 10px;
            }
            
            .grades2 {
              height: auto;
            
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 5%;
              width: 80%;
              left: 10%;
              height: 80vh;
              z-index: 9;
              border: 1px solid black;
            }
            
            
            .grades2 ol li {
              padding: 20px;
            font-size: 10px;
              margin-left: 10%;
            }
            
            .grades3 {
              height: auto;
            
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 10%;
              width: 80%;
              left: 10%;
              height: 80vh;
              z-index: 9;
              border: 1px solid black;
            }
            
           
            .grades3 ol li {
              padding: 20px;
            font-size: 10px;
              margin-left: 10%;
            }
            
            .grades4 {
              height: auto;
            
              border-radius: 10px;
              padding: 10px;
              position: fixed;
              top: 10%;
              width: 80%;
              left: 10%;
              height: 80vh;
              z-index: 9;
              border: 1px solid black;
            }
            
            
            .grades4 ol li {
              padding: 20px;
            font-size: 10px;
              margin-left: 10%;
            }

          }

        
         
