@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Golos+Text&family=Montserrat&display=swap");
* {
  background: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
body{
  width: 100%;
  background: white;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  height: 7vh;
  margin-bottom: 5%;
  justify-content: space-between;
  display: inline-flex;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

nav h1 {
  margin-top: 0.3%;
  background: transparent;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 20px;
  color: black;

}

nav ul li {
  display: inline-block;
  padding: 10px;
  font-weight: bolder;
  list-style: none;
font-size: 14px;
}

.material-icons.outlined  {
  display: none;
 
}
.mobile__header .material-icons.menu{
  
  display: none;

  
}

#header .material-icons.share{
  
  display: none;

  
}
.remove{
  display: none;
}
nav ul li a {
  text-decoration: none;
  color: rgb(44, 43, 43);
  font-weight: bolder;
  font-size: 15px;
}
nav ul li:hover{
  cursor: pointer;
 color: rgba(116, 40, 40, 0.5);
 padding: 10px;

}


nav ul li a:hover{
  
  cursor: pointer;
  color: rgba(116, 40, 40, 0.5);
  padding: 10px;
  
}



.hide{
  display: none;
}

.sub__menu-1{
  display: none;
}
nav ul li:hover .sub__menu-1{
  display: block;
  
  transition: 200ms;
  position: absolute;
  height: auto;
margin-top: 10px;
margin-left: -15px;
box-shadow: 0px 2px 10px black;
border-radius: 10px;
width: 20%;


}

.sub__menu-1 ul{
  display: block;
  margin: 10px;
}

.sub__menu-1 ul li{
  display: block;
  
  padding: 20px;
  
  background: transparent;
  text-align: left;
 
}



.sub__menu-1 ul li a{
  cursor: pointer;
}

.sub__menu-1 a:hover{
text-decoration: underline;

 
}
.sub__menu-1 a:hover {
  color: grey;
}


.science{
  display: none;
}

header {
  height: auto;
  margin-top: 3%;

  width: 100%;
  background: white;
}

.header__title {
  display: flex;

  gap: 10%;
  width: 100%;
  background: transparent;
}

#main{
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
 margin-top: 4%;
 
}

.hero{
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  margin-left: 15%;
 

}

.hero h1{
  margin-bottom: 20px;
  color: black;
  background: transparent;
  font-size: 50px;
  font-family: 'Poetsen One';
}

.hero p{
  color: grey;
  font-size: 0.6em;
  margin-bottom: 50px;
  font-size: 12px;
 
}

.hero p b{
  font-weight: 700;
}
.hero .visuals{
  width: 100%;
}

.phone-visuals{
  display: none;
}
.hero video{
  width: 100%;
 
  object-fit: cover;
  border-radius: 10px;
}
.emphasis{
  color: black;
  font-weight: lighter;
  background: transparent;
}

.get--started{
  display: none;
}

.material-symbols-outlined {
  font-size: 35px;

}

.play_circle{
  color: rgba(104, 177, 173, 0.342);
  
 
}

.play_circle:hover{
cursor: pointer;
}
ul li{
  list-style: none;
  font-size: 10px;
}


.collection{
  background: transparent;
  width: 80%;
  margin-left: 10%;
}
.collection p {
  font-size: 12px;
  margin-top: 4%;
  margin-left: 5%;
  padding: 10px;
  background: transparent;
}

.numbers {
  display: flex;
  padding: 30px;
  gap: 5%;
  justify-items: center;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 5%;
  height: auto;
}

.numbers .data {
  width: 33%;
}

.data p {
  font-weight: bold;
}

.data span {
  font-weight: bolder;
}

/* features */
#section__1{
  width: 100%;
  background: whitesmoke;
  height: auto;
 
  margin-top: 5%;
  margin-bottom: 5%;
 

}

#section__1 h1{
  color: black;
  background: transparent;
  font-family: 'Poetsen One';
  font-size: 60px;
  text-align: center;
}
#section__1 p{
  color: black;
  background: transparent;
  text-align: center;
  margin: 5%;
}
.content{
  display: flex;
width: 80%;
justify-content: space-between;
  padding: 10px;
  margin-left: 10%;
  padding: 30px;
  margin-top: 1%;
  border-radius: 10px;
  height: 80%;
  background: transparent;
}



.content p{
 
  margin-top: 5%;
  width: 50%;
  margin: 10%;
  color: gray;
  background: transparent;
  
}

.content a{
 
  margin-top: 5%;
  width: 50%;
  margin: 10%;
  color: rgb(127, 182, 255);
  text-decoration: none;
  padding: 10px;
  background: transparent;
  
}

.content a:hover{
  text-decoration: underline;
 animation-duration: 2s;

}

.content h2{
  margin-left: 10%;
  font-size: 50px;
  color: black;
  background: transparent;
  font-family: 'Poetsen One';
}
.image{
  width: 50%;
  background: transparent;
}
.image .tutorials{
  
    width: 100%;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    background: transparent;
  }

  .image .quiz{
  
    width: 100%;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    background: transparent;
  }
.text{
  background: transparent;
  width: 50%;
}

.links h1{
  text-align: center;
  padding: 15px;
}

.images{
  display: none;
}
/* subject */
#subject{
  background: white;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
}

.links h1{
  font-size: 20px;
  font-family: 'Poetsen One';
 
}


.grades h2{
  font-size: 14px;
  text-align: center;
  font-family: 'Poetsen One';
}

.grades ul li{
  padding: 20px;
  display: inline-block;
}

.grades ul li a{
  text-decoration: none;
  background: whitesmoke;
padding: 10px;
color: rgb(127, 182, 255);
border-radius: 10px;
}

.grades ul li a:hover{
  text-decoration: underline;
}

/* FAQ & CONTACTS */
#section_2 {
  
  width: 90%;
  margin-left: 5%;
  border: 0.001rem solid rgba(91, 88, 88, 0.283);
  display: flex;
    height: 70vh;
    margin-bottom: 5%;
    margin-top: 5%;
    justify-content: space-between;
    gap: 20px;
  }
  
  .div__1{
    width: 45%;
    margin-left: 2.5%;
  }
  #section {
    border-top: 0.001rem solid rgba(91, 88, 88, 0.283);
    height: 10vh;
    max-height: auto;
   
    cursor: pointer;
    background: transparent;
   
   
  }
  
.description {
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.description h4{
  background: transparent;
}
.expand_more{
  background: transparent;
}

.expand_less{
  background: transparent;
  margin-left: 95%;
}

.vid_discription {
  margin: 15px 0px 15px 0px;
  font-size: 14px;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}
.escape {
  margin-left: 100%;
  padding: 10px;
  font-size: 20px;

  font-weight: bolder;
  background: none;
  cursor: pointer;
}
#section_2 h2{
  text-align: center;
  padding: 5%;
  font-family: 'Poetsen One';
  
  background: transparent;
}
.div__2 {
  width: 50%;
 

  padding: 10px;

  
 
}

.div__2 input {
  width: 100%;
  border: none;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.div__2 button {
  padding: 8px;
  background: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}

.div__2 textarea {
  width: 100%;
  padding: 10px;
  min-height: 20vh;
  max-height: auto;
  border: none;
  background: white;
  border-radius: 5px;
}


h3{
  margin-left: 10%;
}


.hide {
  display: none;
}

.periodic--table{
  height: auto;
  width: 100%;
  background: black;
  text-align: center;
  margin-top: 5%;
}


.periodic--table .container{
  background: black;
  top: 5%;
  padding: 50px;
   
 }

 .container {
  position: relative;

  width: 90%;
  margin-left: 5%;
  height: auto;
  top: 0%;
  background: transparent;
 
}
.container h2{
  color: white;
  font-size: 40px;
  position: relative;
  background-color: black;
  font-family: 'Poetsen One';
 
}



.container p{
  color: white;
  font-size: 12px;
  position: relative;
  background-color: black;
  padding: 15px;
 
}

.container a{
  text-decoration: none;
  background: transparent;
  color: rgb(127, 182, 255);
  padding: 15px;
}

.container a:hover{
  opacity: 0.6;
}

 .media{
  background: transparent;
  display: block;
  width: 100%;
  
}

.media video{

  width: 80%;
  background: transparent;
  border-radius: 10px;
padding: 10px;

}
.cookie-container {
  position: fixed;
  width: 100%;
  height: 25%;
  bottom: -100%;
  z-index: 1;
  left: 0;
  right: 0;
  background: white;
  transition: 400ms;
  box-shadow: 0 4px 16px rgba(47, 54, 64, alpha);
}

.cookie-container.active {
  bottom: 0;
}
.cookie-container p {
  color: black;
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  background: white;
}

.cookie-container p a {
  font-size: 16px;
  background: white;
}
.cookie-btn {
  left: 80%;
  right: 0;
  margin-bottom: 80%;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.cookie-btn:hover {
  text-decoration: underline;
  font-weight: 500;
}

footer {
  background: black;
  height: 40vh;
  margin-bottom: 0%;
  display: flex;
  color: white;
  width: 100%;
  gap: 10%;
 
}

footer ul {
  text-decoration: none;
  background: black;
}
footer ul li {
  display: block;
  text-decoration: none;
  list-style: none;
  padding: 10px;
  background: black;
}
footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  background: black;
}
footer ul li a:hover {
  opacity: 0.8;
}

.copyright {
  background: black;
  color: white;
  font-size: 12px;
}
.copyright a {
  background: black;
  color: white;
  font-size: 12px;
  text-decoration: none;
}
.copyright a:hover {
  opacity: 0.8;
}

.current_year {
  background: black;
  color: white;
}
@media screen and (min-width: 300px) and (max-width: 400px) {
  
  * {
    background: white;
  }

  html {
    scroll-behavior: smooth;
  }

  nav {
    width: 100%;
    position: fixed;

    top: 0;
    height: 8%;
    margin-bottom: 1%;
    justify-content: space-between;
    z-index: 20;
  }
 
  .mobile__header .material-icons.menu{
    font-size: 20px;
    font-weight: lighter;
    margin-top: 45%;
    display: block;
    color: rgba(104, 177, 173, 0.342);
  
    
  }

  #header .material-icons.share{
  
    display: block;
    color: rgba(104, 177, 173, 0.342);
  
    
  }

  #header .material-icons.share a{
  
  font-size: 16px;
    color: rgba(104, 177, 173, 0.342);
  text-decoration: none;
    
  }

  nav h1 {
    margin-top: 3%;
   
  }
  nav ul {
    display: block;
  }
 
.science{
  display: block;
}
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }

  .header__title {
    margin-top: 1%;
  }
 
  
 
 
  
  .material-icons.outlined  {
    display: flex;
    color: rgba(0, 0, 0, 0.54);
   
    font-size: 25px;
  }

  .subject {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  
  .nav__links{
    margin-left: 0%;
    min-height: 100vh;
    width: 100%;
    top: 8%;
    background-color: white;
   
    font-weight: 700;
    border-top-left-radius: 20px;
    position: fixed;
    border-top: 1px solid grey;
    
    
    }
    


    .notes{
       margin-left: -100%;
    }
   
   
   .button{
       margin-left: 10%;
   }
   .remove{
    display: block;
    color: black;
    background-color: white;
    margin-left: 90%;
    font-size: 35px;
    position: absolute;
    margin-top: -15%;
    font-weight: lighter;
    cursor: pointer;
   }
    
    nav ul li{
        display: block;
      font-size: 25px;
        padding: 20px;
        background-color: white;
        margin-left: 0;
        color: black;
        
    }
    
    nav ul li img{
       background-color: white;
   }

  
    nav ul li:last-child{
       display: block;
   }
    nav ul li a{
       background-color: white;
       color: black;
    }
    nav ul li button{
        border: 0.5px solid black;
        border-radius: 10px;
        padding: 5px;
        background-color: aquamarine;
        color: white;
        font-weight: 700;
    }
    nav ul li:hover{
      cursor: pointer;
     color: rgba(116, 40, 40, 0.5);
     padding: 10px;
    
    }
    
    nav ul li:hover .sub__menu-1{
      display: block;
      width: 80%;
      transition: 200ms;
      position: fixed;
      height: auto;
    margin-top: 10px;
    margin-left: 50px;
    box-shadow: 0px 2px 3px black;
    background: white;
   
    
  
  }
  
  .sub__menu-1 ul{
      display: block;
      margin: 10px;
      background-color: white;
   
      
  }
  
  .sub__menu-1 ul li{
      display: block;
      width: 100px;
      height: 80px;
      padding: 20px;
      background: white;
      
      
      text-align: left;
      width: 100%;
     
  }

  .sub__menu-1 ul li:first-child{
   margin-left: 0;
   
  }
  
  .sub__menu-1 ul li a{
      cursor: pointer;
      background-color: white;
      color: black;
      display: block;
      font-size: 12px;
      padding: 20px;
      
  }
  
  .sub__menu-1 ul li:hover{
   text-decoration: underline;
  }
  

  header {
   
    margin-top: 18%;
   
  }

  .mobile--visible {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
  }
  .header__title {
    display: block;
    margin-left: 5%;
 
    width: 90%;
    background-color: white;

      margin-top: 1%;
      /* height: 60vh; */
    
  }
  .header__title h4 {
    font-size: 20px;
    padding: 20px;
    margin-top: 1%;
    text-align: center;
   
  
    font-family: "Roboto", "Helvetica Neue", sans-serif;
  }

  .header__title p {
    font-size: 12px;
    padding: 20px;
    margin-left: 4%;
  
    
  }
  
   
#main{
  display: block;
  

}

.hero{
  width: 90%;
  padding: 20px;
  border-radius: 10px;
 margin-left: 5%;
 background-color: white;
}
.hero h1{
  font-size: 30px;
}

.hero p{
  font-size: 8px;
}
  
.phone-visuals{
  display: block;
  width: 80%;
}
/* .visuals{
  display: none;
} */
  
  .collection p {
    font-size: 12px;
    margin-top: 4%;
    
    padding: 10px;
    text-align: center;
  }
  .numbers {
    display: block;
    padding: 30px;
    gap: 5%;
    justify-items: center;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-left: 5%;
    
    
  }
  
  .numbers .data {
    width: 100%;
  }
  
  .numbers .data.material-icons{
    font-size: 25px;
    color: red;
  }
  /* .numbers .data .materials-icons{
    justify-self: center;
  } */
/* #section__1{
  margin-top: 30%;
 
} */




.content{
  display: block;

  margin-left: 1.5%;
  width: 100%;
  justify-items: center;
background: transparent;
}

p{
 font-size: 8px;
}
.content p{

  margin-top: 5%;
  font-size: 14px;
  width: 80%;
  background: transparent;
  
}

.content a{
  font-size: 8px;
  background: transparent;
}
#section__1 {
 background-color: whitesmoke;
}

.text{
  background: transparent;
  width: 100%;
}
#section_2 {
  width: 90%;
margin-left: 5%;
   display: block;
  height: auto;
}

.content h2{
  margin-left: 10%;
  font-size: 20px;
  font-weight: bolder;
  background: transparent;
  font-family: 'Poetsen One';

}

.content .image{
  background: transparent;
}
.tutorials{
  display: none;
}
.images{
  display: block;
  background: lightskyblue;
  width: 80%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  
}

.quiz{
  display: none;
}

.images img{
  width: 80%;
  margin-left: 10%;
  position:relative;
}
#subject{
  background: white;
  display: block;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
}

.grades ul li{
  display: inline-block;
}

.grades ul li a{
background: whitesmoke;
padding: 10px;
color: rgb(127, 182, 255);
border-radius: 10px;
}
.learn--more{

  margin-left: 10%;
  font-size: 10px;
  padding: 5px;
}

.div__1{
  width: 90%;
  margin-left: 10%;
  
}

.div__2{
  width: 100%;
  
}

.div__2 p{
  font-size: 14px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.div__2 input{
  border: 1px solid rgba(0, 0, 0, 0.3);;
}

.div__2 textarea{
  border: 1px solid rgba(0, 0, 0, 0.3);;
}
#section {
  border-top: 0.001rem solid rgba(91, 88, 88, 0.283);
  height: 10vh;
  max-height: auto;
  width: 80%;
  margin-left: 5%;
  cursor: pointer;
  background: transparent;
 
}

#section_2 h2{
  text-align: center;
  margin-bottom: 10%;
  background: transparent;
}
#section_2:last-child {
  border-bottom: 0.001rem solid rgba(91, 88, 88, 0.283);

}

.description {
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.description h4{
  background: transparent;
}
.expand_more{
  background: transparent;
}
.expand_less{
  background: transparent;
}
.container {
  position: relative;

  width: 80%;
  margin-left: 10%;
  height: auto;
  top: 0%;
  background: transparent;
 
}

.vid_discription {
  margin: 15px 0px 15px 0px;
  font-size: 12px;
  padding: 20px;
  border-radius: 10px;
}


.container h2{

  font-size: 15px;

 
}

.container p{
  color: white;
  font-size: 8px;
  position: relative;
  background-color: black;
  padding: 15px;
 
}

.container a{
  text-decoration: none;
  background: transparent;
  color: aquamarine;
  padding: 10px;
}

.media{
  background: transparent;
  display: block;
  width: 100%;
}

.media img{

  width: 100%;
  background: transparent;
  border-radius: 10px;
  position: relative;


}
  .cookie-container {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 20%;
    bottom: -100%;
    z-index: 10;
    left: 0;
    right: 0;
    background: white;
    transition: 400ms;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, alpha);
  }

  .cookie-container.active {
    bottom: 0;
  }
  .cookie-container p {
    color: black;
    margin: 10px;
    padding: 5px;
    font-size: 12px;
    background-color: white;
  }

  .cookie-container p a {
    font-size: 12px;
  }
  .cookie-btn {
    left: 60%;
    right: 0;
    margin-bottom: 80%;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
  }

  .cookie-btn:hover {
    text-decoration: underline;
    font-weight: 500;
  }

  footer {
    background: black;
    height: 40vh;
    margin-bottom: 0%;
    display: block;
    color: white;
    width: 100%;
    gap: 10%;
   
  }
  
  footer ul {
    text-decoration: none;
    background: black;
    justify-content: center;
    
  }
  footer ul li {
    display: block;
    text-decoration: none;
    list-style: none;
    padding: 10px;
    background: black;
    justify-content: center;
  }
  footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    background: black;
    justify-content: center;
  }
  footer ul li a:hover {
    opacity: 0.8;
  }
  
  .copyright {
    background: black;
    color: white;
    font-size: 12px;
  }
  .copyright a {
    background: black;
    color: white;
    font-size: 12px;
    text-decoration: none;
  }
  .copyright a:hover {
    opacity: 0.8;
  }
  
  .current_year {
    background: black;
    color: white;
  }

}

 
@media screen and (min-width: 400px) and (max-width: 768px) {
  
  * {
    background: white;
  }

  html {
    scroll-behavior: smooth;
  }

  nav {
    width: 100%;
    position: fixed;

    top: 0;
    height: 8%;
    margin-bottom: 1%;
    justify-content: space-between;
    z-index: 20;
  }
 
  .mobile__header .material-icons.menu{
    font-size: 20px;
    font-weight: lighter;
    margin-top: 45%;
    display: block;
    color: rgba(104, 177, 173, 0.342);
  
    
  }

  #header .material-icons.share{
  
    display: block;
    color: rgba(104, 177, 173, 0.342);
  
    
  }

  #header .material-icons.share a{
  
  font-size: 16px;
    color: rgba(104, 177, 173, 0.342);
  text-decoration: none;
    
  }

  nav h1 {
    margin-top: 3%;
   
  }
  nav ul {
    display: block;
  }
 
.science{
  display: block;
}
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }

  
  
 
 
  
  .material-icons.outlined  {
    display: flex;
    color: rgba(0, 0, 0, 0.54);
   
    font-size: 25px;
  }

  .subject {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  
  .nav__links{
    margin-left: 0%;
    min-height: 100vh;
    width: 100%;
    top: 8%;
    background-color: white;
   
    font-weight: 700;
    border-top-left-radius: 20px;
    position: fixed;
    border-top: 1px solid grey;
    
    
    }
    


    .notes{
       margin-left: -100%;
    }
   
   
   .button{
       margin-left: 10%;
   }
   .remove{
    display: block;
    color: black;
    background-color: white;
    margin-left: 90%;
    font-size: 35px;
    position: absolute;
    margin-top: -15%;
    font-weight: lighter;
    cursor: pointer;
   }
    
    nav ul li{
        display: block;
      font-size: 25px;
        padding: 20px;
        background-color: white;
        margin-left: 0;
        color: black;
        
    }
    
    nav ul li img{
       background-color: white;
   }

  
    nav ul li:last-child{
       display: block;
   }
    nav ul li a{
       background-color: white;
       color: black;
    }
    nav ul li button{
        border: 0.5px solid black;
        border-radius: 10px;
        padding: 5px;
        background-color: aquamarine;
        color: white;
        font-weight: 700;
    }
    nav ul li:hover{
      cursor: pointer;
     color: rgba(116, 40, 40, 0.5);
     padding: 10px;
    
    }
    
    nav ul li:hover .sub__menu-1{
      display: block;
      width: 80%;
      transition: 200ms;
      position: fixed;
      height: auto;
    margin-top: 10px;
    margin-left: 50px;
    box-shadow: 0px 2px 3px black;
    background: white;
   
    
  
  }
  
  .sub__menu-1 ul{
      display: block;
      margin: 10px;
      background-color: white;
   
      
  }
  
  .sub__menu-1 ul li{
      display: block;
      width: 100px;
      height: 80px;
      padding: 20px;
      background: white;
      
      
      text-align: left;
      width: 100%;
     
  }

  .sub__menu-1 ul li:first-child{
   margin-left: 0;
   
  }
  
  .sub__menu-1 ul li a{
      cursor: pointer;
      background-color: white;
      color: black;
      display: block;
      font-size: 12px;
      padding: 20px;
      
  }
  
  .sub__menu-1 ul li:hover{
   text-decoration: underline;
  }
  

  header {
   
    margin-top: 18%;
   
  }

  .mobile--visible {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
  }
  .header__title {
    display: block;
    margin-left: 5%;
 
    width: 90%;
    background-color: white;

      margin-top: 1%;
      
    
  }
  .header__title h4 {
    font-size: 20px;
    padding: 20px;
    margin-top: 1%;
    text-align: center;
   
  
    font-family: "Roboto", "Helvetica Neue", sans-serif;
  }

  .header__title p {
    font-size: 12px;
    padding: 20px;
    margin-left: 4%;
  
    
  }
  
   
#main{
  display: block;
  

}

.hero{
  width: 90%;
  padding: 20px;
  border-radius: 10px;
 margin-left: 5%;
 background-color: white;
}
.hero h1{
  font-size: 30px;
}

.hero p{
  font-size: 8px;
}
  
.phone-visuals{
  display: block;
  width: 80%;
}
/* .visuals{
  display: none;
} */
  
  .collection p {
    font-size: 12px;
    margin-top: 4%;
    
    padding: 10px;
    text-align: center;
  }
  .numbers {
    display: block;
    padding: 30px;
    gap: 5%;
    justify-items: center;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-left: 5%;
    
    
  }
  
  .numbers .data {
    width: 100%;
  }
  
  .numbers .data.material-icons{
    font-size: 25px;
    color: red;
  }
  /* .numbers .data .materials-icons{
    justify-self: center;
  } */
/* #section__1{
  margin-top: 30%;
 
} */




.content{
  display: block;

  margin-left: 1.5%;
  width: 100%;
  justify-items: center;
background: transparent;
}

p{
 font-size: 8px;
}
.content p{

  margin-top: 5%;
  font-size: 14px;
  width: 80%;
  background: transparent;
  
}

.content a{
  font-size: 8px;
  background: transparent;
}
#section__1 {
 background-color: whitesmoke;
}

.text{
  background: transparent;
  width: 100%;
}
#section_2 {
  width: 90%;
margin-left: 5%;
   display: block;
  height: auto;
}

.content h2{
  margin-left: 10%;
  font-size: 20px;
  font-weight: bolder;
  background: transparent;
  font-family: 'Poetsen One';

}

.content .image{
  background: transparent;
}
.tutorials{
  display: none;
}
.images{
  display: block;
  background: lightskyblue;
  width: 80%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  
}

.quiz{
  display: none;
}

.images img{
  width: 80%;
  margin-left: 10%;
  position:relative;
}
#subject{
  background: white;
  display: block;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
}

.grades ul li{
  display: inline-block;
}

.grades ul li a{
background: whitesmoke;
padding: 10px;
color: rgb(127, 182, 255);
border-radius: 10px;
}
.learn--more{

  margin-left: 10%;
  font-size: 10px;
  padding: 5px;
}

.div__1{
  width: 90%;
  margin-left: 10%;
  
}

.div__2{
  width: 100%;
  
}

.div__2 p{
  font-size: 14px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.div__2 input{
  border: 1px solid rgba(0, 0, 0, 0.3);;
}

.div__2 textarea{
  border: 1px solid rgba(0, 0, 0, 0.3);;
}
#section {
  border-top: 0.001rem solid rgba(91, 88, 88, 0.283);
  height: 10vh;
  max-height: auto;
  width: 80%;
  margin-left: 5%;
  cursor: pointer;
  background: transparent;
 
}

#section_2 h2{
  text-align: center;
  margin-bottom: 10%;
  background: transparent;
}
#section_2:last-child {
  border-bottom: 0.001rem solid rgba(91, 88, 88, 0.283);

}

.description {
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.description h4{
  background: transparent;
}
.expand_more{
  background: transparent;
}
.expand_less{
  background: transparent;
}
.container {
  position: relative;

  width: 80%;
  margin-left: 10%;
  height: auto;
  top: 0%;
  background: transparent;
 
}

.vid_discription {
  margin: 15px 0px 15px 0px;
  font-size: 12px;
  padding: 20px;
  border-radius: 10px;
}


.container h2{

  font-size: 15px;

 
}

.container p{
  color: white;
  font-size: 8px;
  position: relative;
  background-color: black;
  padding: 15px;
 
}

.container a{
  text-decoration: none;
  background: transparent;
  color: aquamarine;
  padding: 10px;
}

.media{
  background: transparent;
  display: block;
  width: 100%;
}

.media img{

  width: 100%;
  background: transparent;
  border-radius: 10px;
  position: relative;


}
  .cookie-container {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 20%;
    bottom: -100%;
    z-index: 10;
    left: 0;
    right: 0;
    background: white;
    transition: 400ms;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, alpha);
  }

  .cookie-container.active {
    bottom: 0;
  }
  .cookie-container p {
    color: black;
    margin: 10px;
    padding: 5px;
    font-size: 12px;
    background-color: white;
  }

  .cookie-container p a {
    font-size: 12px;
  }
  .cookie-btn {
    left: 60%;
    right: 0;
    margin-bottom: 80%;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
  }

  .cookie-btn:hover {
    text-decoration: underline;
    font-weight: 500;
  }

  footer {
    background: black;
    height: 40vh;
    margin-bottom: 0%;
    display: block;
    color: white;
    width: 100%;
    gap: 10%;
   
  }
  
  footer ul {
    text-decoration: none;
    background: black;
    justify-content: center;
    
  }
  footer ul li {
    display: block;
    text-decoration: none;
    list-style: none;
    padding: 10px;
    background: black;
    justify-content: center;
  }
  footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    background: black;
    justify-content: center;
  }
  footer ul li a:hover {
    opacity: 0.8;
  }
  
  .copyright {
    background: black;
    color: white;
    font-size: 12px;
  }
  .copyright a {
    background: black;
    color: white;
    font-size: 12px;
    text-decoration: none;
  }
  .copyright a:hover {
    opacity: 0.8;
  }
  
  .current_year {
    background: black;
    color: white;
  }

}
